{% extends "layout.html" %}

{% block title %}
Add a Password
{% endblock %}

{% block content %}

<script>
    function showPassword(check) {
        if (check.checked) {
            document.getElementById("password").type = "text";
        }

        else {
            document.getElementById("password").type = "password";
        }
    }
</script>

<div class="container">
    <h1 class='font-extrabold text-5xl first-letter mt-4 text-center'>Add a Password</h1>

    <form method='POST'>
        {{ form.hidden_tag() }}
        <div
            class='w-fit p-4 h-fit py-4 bg-white shadow-lg rounded mx-auto mt-8 border-0 justify-center items-center text-center'>

            <h1 class='text-slate-900 font-semibold'>Service Name</h1>

            {{ form.service_name(class=' text-slate-900 italic mt-2 rounded shadow border focus:shadow-vault-yellow
            focus:shadow-2xl duration-200', placeholder="Facebook")}}


            <h1 class='text-slate-900 mt-8 font-semibold'>Service E-mail</h1>

            {{ form.service_email(class=' text-slate-900 italic mt-2 rounded shadow border focus:shadow-vault-yellow
            focus:shadow-2xl duration-200', placeholder="Facebook")}}



            <h1 class='text-slate-900 font-semibold mt-8'>Service Password</h1>

            {{ form.service_password(class='text-slate-900 mt-2 italic rounded shadow border focus:shadow-vault-yellow
            focus:shadow-2xl duration-200', placeholder="Super Secret Password", id = 'password') }}
            <br>
            <input type='checkbox' onclick=showPassword(this) class='ml-2 text-slate-900'> <span
                class='text-slate-900 mt-0.5'>Show Password</span>
            <br>
            <button class='btn mt-12'>Submit</button>
        </div>
    </form>
</div>

{% endblock %}