{% extends "layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}

<div class="container mt-6 ml-3">

    <h1 class='text-5xl ml-2 font-extrabold subpixel-antialiased'>Welcome back,</h1>
    <h1 class='text-2xl ml-2 font-bold subpixel-antialiased'>{{ user.first_name }} {{ user.last_name }}</h1>

    <br>

    <a href="{{url_for('add_password')}}"><button class='btn'>Add a Password</button></a>
    <hr class='mx-12 my-6'>
    <h4 class='text-2xl ml-2 subpixel-antialiased'>Passwords</h4>

    <script>
        function showPassword(button) {
            // Get the id of the button

            let id = button.id

            // Get the password field

            let password = document.getElementById(String(id))

            if (button.dataset.hidden == 'true') {
                password.classList.remove('blur-sm')
                button.dataset.hidden = 'false'
            }

            else {
                password.classList.add('blur-sm')
                button.dataset.hidden = 'true'
            }
        }
    </script>
    <div id='passwords' class="mt-4 ml-2 grid gap-4 md:grid-cols-3 sm:grid-cols-1 sm:w-screen">

        {% for password in passwords %}
        <div class="sm:mr-2 sm:w-screen md:w-fit p-2 pr-4 rounded overflow-hidden drop-shadow-lg bg-white">

            <div class="ml-4 my-4">

                <div class="text-gray-900">
                    <h1 class="font-black text-xl">{{ password.service_name}}</h1>

                    <p class='mt-4 text-gray-900 font-semibold'>Email Address</p>
                    <p class='text-sm italics'>{{ password.service_email}}</p>
                    <br>
                    <p class='mt-4 text-gray-900 font-semibold'>Password</p>
                    <input id='{{ password.id }}'
                        class='mt-2 border-none bg-transparent text-gray-900 text-sm italics overflow-hidden blur-sm indent-none'
                        value='{{ password.password }}' readonly>

                    <button class='btn p-1 text-sm' onclick=showPassword(this) id='{{ password.id }}'
                        data-hidden=true>Show
                        Password</button>

                    <button class='btn-danger mt-8'><a
                            href="{{ url_for('delete_password', password_id = password.id) }}">Delete
                            Password</a></button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}