{% extends "layout.html" %}
{% block title %}
Login
{% endblock %}

{% block content %}
<div class="container text-white">
    <h1 class='text-center font-bold text-5xl mt-4'>Login</h1>

    <form method='POST'>
        {{ form.hidden_tag() }}

        <div class="my-8 text-center">
            {{ form.email.label(class = 'text-white font-bold antialiased text-xl') }}
            <br>
            <span class='font-mono my-4 text-red-500 italic'>Emails must be valid.</span>
            <br>
            {{ form.email }}
        </div>
        <div class="my-2"></div>
        <div class="my-2"></div>
    </form>
</div>
{% endblock %}