{% extends "guest_layout.html" %}
{% block title %}
Login
{% endblock %}

{% block content %}
<div class="container text-white">
    <h1 class='text-center font-bold text-5xl mt-4'>Login</h1>

    <div class="grid place-items-center">

        <div class="text-center my-8 bg-white border border-black shadow-lg w-4/5 rounded-sm">

            <form method='POST'>
                {{ form.hidden_tag() }}

                <div class="my-4">

                    <label class='text-slate-800 font-bold text-md mb-6 subpixel-antialiased'>Email Address</label>
                    <br>
                    {{ form.email(
                    class = 'bg-gray-100 placeholder-gray-600/75 w-4/5 text-xs text-black subpixel-antialiased rounded
                    border
                    focus:outline-none shadow',
                    placeholder = 'Email Address',
                    autocomplete = "off"
                    )}}
                </div>

                <div class='my-4'>
                    <label class='text-slate-800 font-bold text-md mb-6 subpixel-antialiased'>Master Password</label>
                    <br>
                    {{ form.password(
                    class = 'bg-gray-100 placeholder-gray-600/75 w-4/5 text-xs text-black subpixel-antialiased rounded
                    border
                    focus:outline-none shadow',
                    placeholder = 'Master Password',
                    autocomplete = "off"
                    )}}
                </div>

                {{ form.submit(class = 'my-4 text-black font-bold px-4 py-2 bg-yellow-400 rounded shadow-md
                hover:shadow-yellow-500 duration-200') }}
            </form>
        </div>
    </div>
</div>
{% endblock %}