{% extends "guest_layout.html" %}
{% block title %}
PyVault - Register
{% endblock %}
{% block content %}

<div class="container">

    <h1 class='text-center font-bold text-5xl mt-4'>Register</h1>

    <div class="grid place-items-center">

        <div class="text-center my-8 bg-white border border-black shadow-lg w-4/5 rounded-sm">

            <form method='POST'>
                {{ form.hidden_tag() }}

                <div class="my-5">

                    <label class='text-slate-800 font-bold text-md mb-6 subpixel-antialiased'>First Name</label>
                    <br>
                    {{ form.first_name(
                    class = 'bg-gray-100 placeholder-gray-600/75 w-4/5 text-xs text-black subpixel-antialiased rounded
                    border
                    focus:outline-none shadow',
                    placeholder = 'First Name',
                    autocomplete = "off"
                    )}}
                </div>

                <div class="my-5">

                    <label class='text-slate-800 font-bold text-md mb-6 subpixel-antialiased'>Last Name</label>
                    <br>
                    {{ form.last_name(
                    class = 'bg-gray-100 placeholder-gray-600/75 w-4/5 text-xs text-black subpixel-antialiased rounded
                    border
                    focus:outline-none shadow',
                    placeholder = 'Last Name',
                    autocomplete = "off"
                    )}}
                </div>

                <div class="my-5">

                    <label class='text-slate-800 font-bold text-md mb-6 subpixel-antialiased'>Email Address</label>
                    <br>
                    {{ form.email(
                    class = 'bg-gray-100 placeholder-gray-600/75 w-4/5 text-xs text-black subpixel-antialiased rounded
                    border
                    focus:outline-none shadow',
                    placeholder = 'Email Address',
                    autocomplete = "off"
                    )}}
                </div>

                <div class='my-5'>
                    <label class='text-slate-800 font-bold text-md mb-6 subpixel-antialiased'>Master Password</label>
                    <br>

                    {{ form.password(
                    class = 'bg-gray-100 placeholder-gray-600/75 text-xs w-4/5 text-black subpixel-antialiased rounded
                    border
                    focus:outline-none shadow',
                    placeholder = 'Master Password',
                    autocomplete = "off"
                    )}}
                </div>

                <div class="my-5">

                    <label class='text-slate-800 font-bold text-md mb-6 subpixel-antialiased'>Confirm Master
                        Password</label>
                    <br>
                    {{ form.confirm(
                    class = 'bg-gray-100 placeholder-gray-600/75 w-4/5 text-xs text-black subpixel-antialiased rounded
                    border
                    focus:outline-none shadow',
                    placeholder = 'Confirm Master Password',
                    autocomplete = "off"
                    )}}
                </div>

                {{ form.submit(class = 'my-4 text-black font-bold w-4/5 px-4 py-2 bg-yellow-400 rounded shadow-md
                hover:shadow-yellow-500 duration-200') }}
            </form>
        </div>
    </div>
    {% endblock %}